{% extends 'engine/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/puppet/puppet.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Create">
      </div>
    </div>
  </form>

  <script>
    var editor = CodeMirror.fromTextArea(document.getElementsByName("data")[0], {
      lineNumbers: true,
      mode: "puppet"
    });
  </script>
{% endblock %}
