{% extends 'engine/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h2> Classifications </h2>
  <table class="table">
    <tbody>
      {% for node in object_list %}
        <tr>
          <td> {{ node.name }} </td>
          <td> <a class="" href="{% url "classification_update" pk=node.id %}">Edit</a> </td>
          <td> <a class="" href="{% url "classification_delete" pk=node.id %}">Delete</a> </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{% url "classification_create" %}">New</a>
{% endblock %}
